## Getting Team and Player IDs

In [1]:
from nba_api.stats.static import teams
# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [2]:
from nba_api.stats.static import players
# get_players returns a list of dictionaries, each representing a player.
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))
nba_players[:5]

Number of players fetched: 4723

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False},
 {'id': 51,
  'full_name': 'Mahmoud Abdul-Rauf',
  'first_name': 'Mahmoud',
  'last_name': 'Abdul-Rauf',
  'is_active': False},
 {'id': 1505,
  'full_name': 'Tariq Abdul-Wahad',
  'first_name': 'Tariq',
  'last_name': 'Abdul-Wahad',
  'is_active': False}]

In [3]:
[player for player in nba_players
                   if player['full_name'] == 'Michael Jordan'][0]

{'id': 893,
 'full_name': 'Michael Jordan',
 'first_name': 'Michael',
 'last_name': 'Jordan',
 'is_active': False}

## Getting career stats of a player

In [4]:
from nba_api.stats.endpoints import playercareerstats

career = playercareerstats.PlayerCareerStats(player_id='893')
jordan = career.get_data_frames()[0]
jordan.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,893,1984-85,00,1610612741,CHI,22.0,82,82,3144.0,837,...,0.845,167,367,534,481,196,69,291,285,2313
1,893,1985-86,00,1610612741,CHI,23.0,18,7,451.0,150,...,0.840,23,41,64,53,37,21,45,46,408
2,893,1986-87,00,1610612741,CHI,24.0,82,82,3281.0,1098,...,0.857,166,264,430,377,236,125,272,237,3041
3,893,1987-88,00,1610612741,CHI,25.0,82,82,3311.0,1069,...,0.841,139,310,449,485,259,131,252,270,2868
4,893,1988-89,00,1610612741,CHI,26.0,81,81,3255.0,966,...,0.850,149,503,652,650,234,65,290,247,2633

In [5]:
jordan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          15 non-null     int64
 1   SEASON_ID          15 non-null     object
 2   LEAGUE_ID          15 non-null     object
 3   TEAM_ID            15 non-null     int64
 4   TEAM_ABBREVIATION  15 non-null     object
 5   PLAYER_AGE         15 non-null     float64
 6   GP                 15 non-null     int64
 7   GS                 15 non-null     int64
 8   MIN                15 non-null     float64
 9   FGM                15 non-null     int64
 10  FGA                15 non-null     int64
 11  FG_PCT             15 non-null     float64
 12  FG3M               15 non-null     int64
 13  FG3A               15 non-null     int64
 14  FG3_PCT            15 non-null     float64
 15  FTM                15 non-null     int64
 16  FTA                15 non-null     int64
 17  FT_PCT             15 non-null     float64
 18  OREB               15 non-null     int64
 19  DREB               15 non-null     int64
 20  REB                15 non-null     int64
 21  AST                15 non-null     int64
 22  STL                15 non-null     int64
 23  BLK                15 non-null     int64
 24  TOV                15 non-null     int64
 25  PF                 15 non-null     int64
 26  PTS                15 non-null     int64
dtypes: float64(5), int64(19), object(3)
memory usage: 3.3+ KB